{% extends "layout.html.twig" %}

{% block main %}
    <h1>Page d'accueil</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>
                    {{ post.title }}
                </h2>
                <p>
                    {{ post.excerpt }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}